<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Keven Imbeault | <%= page %></title>
    <meta charset="utf-8">
    <meta name="active-menu" content="<%= menuId %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>
<body>
  {% extends "navbar.html" %}
  {% block content %}
<div class="Accueil text-center">
  <p class="Accueil_Titre">Keven Imbeault</p>

  <i class="fas fa-arrow-down fa-5x Fleche"></i>
</div>

<div class="Panneau_Pale_Complet" id="a_propos">
  <p>
    Bienvenue sur mon site ! Au cours des dernières années, j’ai appris par moi-même divers langages de programmation
    (C, C++, Python, Java, JavaScript, HTML et CSS) pour trouver celui que je préfère et qui me permet de créer les projets
    auxquels je pense ! En ce moment, je fais surtout du développement web (afin de créer ce site) en plus d’apprendre
    Python afin de peut-être commencer à faire de l’intelligence artificielle et/ou « machine learning ».
  </p>

  <p>
    Je suis également un étudiant au cégep, j’ai commencé dans le programme Tremplin DEC en 2016 afin d’obtenir mes
    « maths fortes », j’ai ensuite rejoint le programme de Techniques de comptabilité et de gestion que je quitte après
    3 sessions afin d’aller en Techniques de l’informatique à partir de la session d’hiver 2019.
  </p>
  <p>
    J’ai créé ce site dans le but de pouvoir partager mes divers projets ainsi que me permettre d’expliquer
    en plus grand détail chacun d’eux.
  </p>
</div>
<div class="Paneau_Fonce_Complet text-center">
    <div class="icones">
        <a href="https://twitter.com/KevenImbeault" class="twitter"><i class="fab fa-twitter-square fa-3x"></i></a>
        <a href="https://www.instagram.com/kevenimbeault/" class="instagram"><i class="fab fa-instagram fa-3x"></i></a>
        <a href="https://www.linkedin.com/in/keven-imbeault-180665111" class="linkedin"><i class="fab fa-linkedin fa-3x"></i></a>
        <a href=" https://github.com/KevenImbeault" class="github"><i class="fab fa-github-square fa-3x"></i></a>
        <a href="https://www.facebook.com/imbeault.keven" class="facebook"><i class="fab fa-facebook-square fa-3x"></i></a>
        <a href="mailto:contact@kevenimbeault.ca" class="mail"><i class="fas fa-envelope-square fa-3x"></i></a>
    </div>

    <div>
        <p class="ligne"></p>
        <p>Pour me contacter : imbeault.keven@gmail.com</p>
        <p>Blog propulsé par <a href="https://buttercms.com"><img class="buttercms_logo" src="https://cdn.buttercms.com/RyJ7UhcVTCRqrCFXwgCo"></a></p>
    </div>
</div>
{% endblock %}
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<script src="/javascripts/menu.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131131034-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-131131034-1');
</script>
</html>