<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Keven Imbeault | {{ page }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    
    {% extends "navbar.html" %}
    {% block content %}
    <div class="container" style="padding-top:5%">
        <table class="table table-bordered">
            <thead class="thead-dark">
               <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Forks</th>
                  <th>Stars</th>
               </tr>
            </thead>
    
            <tbody>
               {% for repo in repos %}
                  <tr>
                     <td><a href="{{ repo.LINK }}">{{ repo.NAME }}</a></td>
                     <td>{{ repo.DESCRIPTION }}</td>
                     <td>{{ repo.FORKS }}</td>
                     <td>{{ repo.STARS }}</td>
                  </tr>
               {% endfor %}
            </tbody>
         </table>
    </div>
<div class="Panneau_Pale_Complet">
    <p class="titre_pages">Compétences</p>

    <div class="container">
        <div class="row">
            <div class="col-md">
                <h4 class="text-center">WEB</h4>
                <p class="text-justify">
                    J'ai apris a utilisé diverses technologies tels que NodeJs, Bootstrap, ainsi que des languages tels
                    que CSS, HTML, EJS, JavaScript, en créant le site sur lequel vous vous trouvez ainsi que la version précédente.
                </p>
            </div>
            <!--<div class="col-md">
                <h4 class="text-center">Python</h4>
                <p class="text-justify">Lorem Ipsum</p>
            </div>-->
        </div>
    </div>
</div>
<div class="Paneau_Fonce_Complet text-center">
    <div class="icones">
        <a href="https://twitter.com/KevenImbeault" class="twitter"><i class="fab fa-twitter-square fa-3x"></i></a>
        <a href="https://www.instagram.com/kevenimbeault/" class="instagram"><i class="fab fa-instagram fa-3x"></i></a>
        <a href="https://www.linkedin.com/in/keven-imbeault-180665111" class="linkedin"><i class="fab fa-linkedin fa-3x"></i></a>
        <a href=" https://github.com/KevenImbeault" class="github"><i class="fab fa-github-square fa-3x"></i></a>
        <a href="https://www.facebook.com/imbeault.keven" class="facebook"><i class="fab fa-facebook-square fa-3x"></i></a>
        <a href="mailto:contact@kevenimbeault.ca" class="mail"><i class="fas fa-envelope-square fa-3x"></i></a>
    </div>

    <div>
        <p class="ligne"></p>
        <p>Pour me contacter : imbeault.keven@gmail.com</p>
        <p>Blog propulsé par <a href="https://buttercms.com"><img class="buttercms_logo" src="https://cdn.buttercms.com/RyJ7UhcVTCRqrCFXwgCo"></a></p>
    </div>
</div>



{% endblock %}
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<script src="/javascripts/menu.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131131034-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-131131034-1');
</script>
</html>