<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Keven Imbeault | {{ page }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    
    {% extends "template.html" %}
    {% block content %}
    <div class="container" style="padding-top:5%">
        <table id='dtBasicExample' class="table table-bordered">
            <thead class="thead-dark">
               <tr>
                  <th>Nom</th>
                  <th>Description</th>
                  <th>Forks</th>
                  <th>Stars</th>
               </tr>
            </thead>
    
            <tbody>
               {% for repo in repos %}
                  <tr>
                     <td><a href="{{ repo.LINK }}">{{ repo.NAME }}</a></td>
                     <td>{{ repo.DESCRIPTION }}</td>
                     <td>{{ repo.FORKS }}</td>
                     <td>{{ repo.STARS }}</td>
                  </tr>
               {% endfor %}
            </tbody>
         </table>
    </div>
<div class="Panneau_Pale_Complet">
    <p class="titre_pages">Compétences</p>

    <div class="container">
        <div class="row">
            <div class="col-md">
                <h4 class="text-center">WEB</h4>
                <p class="text-justify">
                    J'ai apris a utilisé diverses technologies tels que NodeJs, Bootstrap, ainsi que des languages tels
                    que CSS, HTML, EJS, JavaScript, en créant le site sur lequel vous vous trouvez ainsi que la version précédente.
                </p>
            </div>
            <div class="col-md">
                <h4 class="text-center">Python</h4>
                <p class="text-justify">Lorem Ipsum</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
</body>
</html>