<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Keven Imbeault | {{ page }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    
    {% extends "template.html" %}
    {% block content %}
    <div class="container" style="padding-top:5%">
        <table id='dtBasicExample' class="table table-bordered Datatable_Marge">
            <thead class="thead-dark">
               <tr>
                  <th>Nom</th>
                  <th>Description</th>
                  <th>Forks</th>
                  <th>Stars</th>
                  <th>Langages utilisés</th>
               </tr>
            </thead>
    
            <tbody>
               {% for repo in repos %}
                  <tr>
                     <td><a href="{{ repo.LINK }}">{{ repo.NAME }}</a></td>
                     <td>{{ repo.DESCRIPTION }}</td>
                     <td>{{ repo.FORKS }}</td>
                     <td>{{ repo.STARS }}</td>
                     <td>{{ repo.LANGUAGE }}</td>
                  </tr>
               {% endfor %}
            </tbody>
         </table>
    </div>

{% endblock %}
</body>
</html>