<h1 class="titre_pages">{{title}}</h1>

<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
<table *ngIf="array" class="table table-striped table-bordered table-github">
    <!-- ADD HEADERS -->
    <thead class="thead-dark">
    <tr>
        <th scope="col">Nom du projet</th>
            <th scope="col">Description du projet</th>
                  <th scope="col">Forks</th>
                      <th scope="col">Stars</th>
                  
    </tr>
    </thead>
    <tbody>
    <!-- BIND ARRAY TO TABLE -->
    <tr *ngFor="let project of array">
        <th scope="row"><a href="{{project.LINK}}">{{project.NAME}}</a></th>
            <td>{{project.DESCRIPTION}}</td>
                    <td>{{project.FORKS}}</td>
                        <td>{{project.STARS}}</td>
    </tr>
  </tbody>

</table>
</div> 